.App {
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 32px;
  margin-bottom: 16px;
}
